#!/bin/bash

collect-bins() {
    # Find any bins in our tree and add them to our path
    pwd=`pwd`
    bins=`find ${pwd} -type d -name "bin" -print 2>/dev/null | xargs | sed "s/ /:/g"`
    export PATH=${bins}:${PATH}
}

export-env() {
    # Export all the variables in .env, if it exists
    [ -f ".env" ] && export $(grep -v '^#' .env | xargs)

    # Export all the variables in .env.local, if it exists
    [ -f ".env.local" ] && export $(grep -v '^#' .env.local | xargs)
}

activate-venv() {
    # To create venv: `python3 -m venv venv`
    if [ -d "venv" ]; then
	if ! [ -f "venv/bin/activate" ]; then
	    python3 -m venv venv
	fi
	source venv/bin/activate
	echo "Activated venv"
	unset PS1
    elif [ -d ".venv" ]; then
	if ! [ -f ".venv/bin/activate" ]; then
	    python3 -m venv .venv
	fi
	source .venv/bin/activate
	echo "Activated .venv"
	unset PS1
    else
	source ~/Python/venv/general/bin/activate
    fi
}

collect-bins
export-env
activate-venv

# Local Variables:
# mode: shell-script
# End:
